<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">
    

    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-card>
        <mat-card-header>
        <mat-card-title>
            <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ baseURL + dish.image }}" alt={{dish.name}}>
        <mat-card-content>
        <p>{{dish.description}}
        </p>
        </mat-card-content>
        <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
        <span class="flex-spacer"></span>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>    
        </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex [hidden]="dish || errMess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>

  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <div class="container" fxLayout="column" fxLayoutGap="10px">
     <div fxFlex>
        <mat-list>
            <h2>Comments</h2>
            <mat-list-item style="padding: 26px;" *ngFor="let com of dish.comments">
              <p matLine style="font-size: large;">{{com.comment}}</p>
              <p matLine> 
                {{com.rating}} Stars
                  <br/>
              -- {{com.author}} {{com.date | date}} 
              </p>
            </mat-list-item>
            <mat-list-item style="padding: 26px;" [hidden]="comment">
              <p matLine style="font-size: large;">{{commentForm.value.review}}</p>
              <p matLine> 
                {{commentForm.value.rating}} Stars
                  <br/>
              -- {{commentForm.value.author}} {{date}} 
              </p>
            </mat-list-item>
        </mat-list>
     </div> 
     <div fxFlex>
      <form novalidate [formGroup]="commentForm" #cform="ngForm" (ngSubmit)="onSubmit()">
        <p>
          <mat-form-field class="full-width">
            <input matInput formControlName="author" placeholder="Name" type="text" required>
            <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
          </mat-form-field>
        </p>
        <p>
        <mat-slider formControlName="rating"  thumbLabel tickInterval="1" step="1" min="1" max="5"></mat-slider>
        </p>
        <p>
          <mat-form-field class="full-width">
            <textarea matInput formControlName="review" placeholder="Your Comment" rows=12 required></textarea>
            <mat-error *ngIf="formErrors.review">{{formErrors.review}}</mat-error>
          </mat-form-field>
        </p>
        <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
      </form>
     </div>
    </div>   
  </div>

  <div fxFlex [hidden]="dish || errMess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>

</div>